{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "import/prefer-default-export": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-wrap-multilines": "off",
    "react/prefer-stateless-function": "off",
    "no-unused-vars": "off",
    "react/destructuring-assignment": "off",
    "react/no-array-index-key": "off",
    "react/self-closing-comp": "off",
    "react/state-in-constructor": "off",
    "react/button-has-type": "off",
    "react/no-access-state-in-setstate": "off",
    "no-restricted-syntax": "off",
    "guard-for-in": "off",
    "prefer-const": "off",
    "react/sort-comp": "off",
    "no-shadow": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "arrow-body-style": "off",
    "react/prop-types": "off",
    "lines-between-class-members": "off",
    "object-shorthand": "off",
    "camelcase": "off",
    "prefer-template": "off",
    "react/no-unused-state": "off",
    "prefer-destructuring": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "class-methods-use-this": "off"
  }
}
